<form action="/calcular" method="post">
	<input type="hidden" name="operacao" value="<%- operacao %>" />
	<label>Gastos mensais</label>
	<input type="text" name="numero1" id="numero1"/>
	<label>Outros gastos</label>
	<input type="text" name="numero2" id="numero2"/>

	<input type="submit" id="Calcular" value="Calcular"/>
</form>

<% if(typeof(resultado) != 'undefined') { %>
	<p id="resultado"> O resultado é <%= resultado %>.</p>
<% } %>