<form action="/calcular" method="post">
	<input type="hidden" name="operacao" value="<%- operacao %>" />
	<label>Salario</label>
	<input type="text" name="numero1" />
	<label>Gastos</label>
	<input type="text" name="numero2" />
	<input type="submit" value="Calcular" />
</form>

<% if(typeof(resultado) != 'undefined') { %>
	<p>O resultado é <%= resultado %>.</p>
<% } %>