<h3>Controle Financeiro</h3>

<ul>
	<li>
		<a href="/somar">Somar gastos</a>
	</li>
	<li>
		<a href="/subtrair">Subtrair gastos no salario</a>
	</li>
	<li>
		<a href="/dividir">Porcentagem de gastos</a>
	</li>
</ul>
