<h3>Calculadora Node-js</h3>

<ul>
	<li>
		<a href="/somar">Somar</a>
	</li>
	<li>
		<a href="/subtrair">Subtrair</a>
	</li>
	<li>
		<a href="/multiplicar">Multiplicar</a>
	</li>
	<li>
		<a href="/dividir">Dividir</a>
	</li>
	<li>
    	<a href="/somarGastos">Controle Financeiro</a>
    </li>
</ul>
